{% extends "template.html" %}
{% block content %}

<div id="login" class="container-fluid align-self-center h-100">

    <div class="row login-div h-100 text-center pb-5">
  
      <div class="col-12 align-self-center">
       
  
              <div class="row py-1 px-md-2 d-flex justify-content-center align-middle">
                
                  <div class="col-12 col-sm-12 col-lg-8 col-xl-6 px-md-2 mx-md-1 align-middle">
                    <a href="{{url_for('home')}}" class="btn btn-outline-dark btn-lg bg-white btn-block my-2" role="button" aria-disabled="true">Home</a>
      
                      <form class='border border-dark' enctype="multipart/form-data" method="POST">


                      {{ form.hidden_tag() }}

                          <div class="form-group " id='contact-us-title'>
                              <h3>Update user</h3>
                          </div>
                          <div class="row">
                              <div class="col-4">
                                  <img src="{{url_for('static',filename='images/' + user.picture)}}" alt="" class="img-fluid">
                              </div>
                              <div class="col-6">
                                <div class="form-group my-3">
                                    
                                    {{ form.firstname(class="form-input-email w-100", placeholder='First name') }}
                                    
                                    {% if form.firstname.errors %}
                                        

                                            {% for error in form.firstname.errors %}
                                            <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                                            {% endfor %}

                                        
                                    {% endif%}

                                   
                          </div>
                        <div class="form-group my-3">
                             {{ form.lastname(class="form-input-email w-100", placeholder='Last name') }}
                                    
                                    {% if form.lastname.errors %}
                                        

                                            {% for error in form.lastname.errors %}
                                            <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                                            {% endfor %}

                                        
                                    {% endif%}     
                          </div>

                              </div>
                          </div>
                          <div class="form-group my-3">
                            <div class="custom-file">
                               
                                {{ form.picture.label(class="custom-file-label", placeholder='File') }}
                                {{ form.picture(class="custom-file-input", placeholder='File') }}
                                      {% if form.picture.errors %}
                                          
  
                                              {% for error in form.picture.errors %}
                                              <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                                              {% endfor %}
  
                                          
                                      {% endif%}     
                              </div>
                            </div>
                            
                         
                          
                          <button type="submit" class="btn btn-black w-100" >Update</button>
                      </form>
                  </div>
              </div>

  
      </div>
     
    </div>
  </div>
  

{% endblock %}