{% extends "template.html" %}
{% block content %}
<div id='container-gallery'>
<script src="{{ url_for('static', filename='/JS/gallery_script.js') }}"></script>
{% set counter = namespace(value=0)  %}
{%  if current_user.is_authenticated %}


<div class="row " id='container-new-image'>
    <div class="col-12 pt-5 text-center ">
        <a href="#" class='text-dark' id='add-new-image-link' >Add a new image</a>
    </div>
</div>

<div class="row  justify-content-center d-none " id='add-image-container'>
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 ">
        <form class='bg-light text-dark text-center p-5' id='gallery-form text-center' enctype="multipart/form-data" method="POST">
            {{ form.hidden_tag() }}
            <h1>Add a new image</h1>
            <div class="form-group my-3">
                {{ form.title(class="form-input-email w-100", placeholder='Title') }}
                {% if form.title.errors %}
                {% for error in form.title.errors %}
                <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                {% endfor %}
                {% endif%}
            </div>

            <div class="form-group my-3">
                {{ form.alt_text(class="form-input-email w-100", placeholder='Alt text') }}
                {% if form.alt_text.errors %}
                {% for error in form.alt_text.errors %}
                <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                {% endfor %}
                {% endif%}
            </div>


            <div class="form-group my-3">
                {{ form.text(class="form-input-email w-100", placeholder='Description') }}
                {% if form.text.errors %}
                {% for error in form.text.errors %}
                <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                {% endfor %}
                {% endif%}
            </div>
            <div class="form-group my-3">
                {{ form.category(class="form-input-email w-100", placeholder='Category') }}
                {% if form.category.errors %}
                {% for error in form.category.errors %}
                <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                {% endfor %}
                {% endif%}
            </div>

            <div class="form-group my-3">
                {{ form.column(class="form-input-email w-100", placeholder='Column') }}
                {% if form.column.errors %}
                {% for error in form.column.errors %}
                <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                {% endfor %}
                {% endif%}
            </div>


            <div class="form-group my-3">
                <label class="custom-file-label form-input-email " style='position:absolute;' for="picture"
                    placeholder="File">Image</label>
                <input class="custom-file-input form-input-email" id="picture" name="picture" placeholder="File"
                    type="file">
            </div>
            <button type="submit" class="btn btn-black w-100 draw meet">Add</button>
        </form>
    </div>
</div>
{%  endif %}


   
    <!-- <div class="row d-flex justify-content-center  " id='about-me-gallery'>
      <div class="col-12 col-sm-12 col-md-10 col-lg-8 align-middle">
        <img src="{{ url_for('static', filename='/images/about_me.jpg') }}" alt="" id='about-img'
          class="pull-left w-100  ">
        <p id='about-content' class=''>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
          unchanged.
          It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
          recently
          with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
 
    </div> -->


  
<div class="row d-flex justify-content-center" id='container-profile'>
    <div class="col-12 col-sm-12 col-md-10">
    <div class="row my-5 d-flex justify-content-center border-bottom border-dark" id='menu-gallery'>
        
        <a href="{{url_for('gallery',category='Business')}}" class='px-2 px-sm-3 px-md-4 px-xl-5 py-2'>Business</a>
        <a href="{{url_for('gallery',category='Events')}}" class='px-2 px-sm-3 px-md-4 px-xl-5 py-2'>Events</a>
        <a href="{{url_for('gallery')}}" class='px-2 px-sm-3 px-md-4 px-xl-5 py-2'>All</a>
        <a href="{{url_for('gallery',category='People')}}" class='px-2 px-sm-3 px-md-4 px-xl-5 py-2'>People</a>
        <a href="{{url_for('gallery',category='Food')}}" class='px-2 px-sm-3 px-md-4 px-xl-5 py-2'>Food</a>
    </div>



    <div class="row d-flex justify-content-center">

   

       

            <div class="column">
                {% for image in images %}
                {% if  image.column == 1 %}
                        <img alt='{{ image.description }}'src="{{url_for('static',filename= 'images/' + image.file )}}">
                {% endif %}
            {% endfor %}     
            </div>

            <div class="column">
                {% for image in images %}
                {% if  image.column == 2 %}
                        <img alt='{{ image.description }}'src="{{url_for('static',filename= 'images/' + image.file )}}">
                {% endif %}
            {% endfor %}   
        
        </div>

            <div class="column">
                {% for image in images %}
                {% if  image.column == 3 %}
                        <img alt='{{ image.description }}'src="{{url_for('static',filename= 'images/' + image.file )}}">
                {% endif %}
            {% endfor %}   
        
        </div>
                
      
        
    </div>
    </div>
</div>





</div>
{% endblock %}