{% extends "template.html" %}
{% block content %}
<div class="row d-flex justify-content-center  " id='main-external'>

<!-- Home -->
  <div class="col-12 pb-5" style='padding-right:0!important;padding-left:0!important ' id='home'>
    <div class="d-flex align-items-end home-img-container" style='height: 100vh;background-color: transparent;'>
      <img src="{{url_for('static',filename='images/logo.png')}}" style='opacity:0.9' id='background-logo' alt=""
        class="img-fluid">
    </div>
  </div>






  <!-- Portfolio -->






  <!-- People -->
  <a href="{{url_for('gallery',category='People')}}">
    <div id="people-section" class='position-relative text-center gallery-preview  py-5'>
            <img src="{{ url_for('static',filename='images/people_1.jpg') }}" id='people-img' alt="">
          
            <i class="far fa-edit" style='top: 0;
            transform: translate(-50px, 10px);
            right: 0;
            color: black;
            left: 100;
            position: absolute;'></i>
            <div class="centered">
              <h1>People</h1>
            </div>
      <div class="">
  
        <p class='px-5'>
          Business photos focus on the working world, 
          with imagery being captured to support the growth 
          and development of a business, usually for marketing 
          and promotional purposes. By capturing images of the owners, 
          their products, their teams, or their services, business photography
          allows companies to tell a story about their offerings through photos.
        </p>
      
      </div>
      
      
    </div>
  </a>
<!-- Business -->
<a href="{{url_for('gallery',category='Business')}}">
  <div id="business" class='position-relative text-center gallery-preview '>
    <img src="{{ url_for('static',filename='images/business_1.jpg') }}" id='people-img' alt="">
    <div class="centered">
      <h1>Business</h1>
    </div>
    <div class="">
 
      <p class='px-5'>
        Business photos focus on the working world, 
        with imagery being captured to support the growth 
        and development of a business, usually for marketing 
        and promotional purposes. By capturing images of the owners, 
        their products, their teams, or their services, business photography
         allows companies to tell a story about their offerings through photos.
      </p>
    
    </div>
  
  </div>
</a>
<!-- Events -->
<a href="{{url_for('gallery',category='Events')}}">
  <div id="events" class='position-relative text-center gallery-preview '>
    <img src="{{ url_for('static',filename='images/event_5.jpg') }}" id='people-img' alt="">
    <div class="centered">
      <h1>Events</h1>
    </div>
    <div class="">
 
      <p class='px-5'>
        Business photos focus on the working world, 
        with imagery being captured to support the growth 
        and development of a business, usually for marketing 
        and promotional purposes. By capturing images of the owners, 
        their products, their teams, or their services, business photography
         allows companies to tell a story about their offerings through photos.
      </p>
    
    </div>
    
  </div>
</a>
<a href="{{url_for('gallery',category='Food')}}">
  <div id="food" class='position-relative text-center gallery-preview '>
    <img src="{{ url_for('static',filename='images/food_5.jpg') }}" id='people-img' alt="">
    <div class="centered">
      <h1>Food</h1>
    </div>

    <div class="">
 
      <p class='px-5'>
        Business photos focus on the working world, 
        with imagery being captured to support the growth 
        and development of a business, usually for marketing 
        and promotional purposes. By capturing images of the owners, 
        their products, their teams, or their services, business photography
         allows companies to tell a story about their offerings through photos.
      </p>
    
    </div>
   
  </div>
</a>
  <!-- End Portfolio -->


</div>


  <!-- Contact form -->
  <div class="main-container w-100  p-sm-2 p-md-2 pt-4 pt-md-4 py-2" id="contact">
    <div class="row  d-flex justify-content-center px-2 mx-1">
        <div class="col-12 col-sm-8 col-lg-6 col-xl-6 ">
          <div class="text-center py-1" id='contact-us-title'>
            <h3>Contact me!</h3>
          </div>
          <form class='' enctype="multipart/form-data" method="POST" >
              {{ contact_form.hidden_tag() }}

              <div class="form-row ">
                <div class="col form-group">
                  {{ contact_form.name(class="form-input-email w-100", placeholder='Name') }}                
                  {% if contact_form.name.errors %}                 
                          {% for error in contact_form.name.errors %}
                          <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                          {% endfor %}                
                  {% endif%}
                </div>

                <div class="col form-group">
                  {{ contact_form.surname(class="form-input-email w-100", placeholder='Surname') }}                
                  {% if contact_form.surname.errors %}                 
                          {% for error in contact_form.surname.errors %}
                          <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                          {% endfor %}                
                  {% endif%}
                </div>
              </div>
          
            <div class="form-group my-2">
              {{ contact_form.customer_email(class="form-input-email w-100", placeholder='Email') }}                
              {% if contact_form.customer_email.errors %}                 
                      {% for error in contact_form.customer_email.errors %}
                      <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                      {% endfor %}                
              {% endif%}
            </div>
            <div class="form-group my-2">
               {{ contact_form.phoneno(class="form-input-email w-100", placeholder='Phone Number') }}                
              {% if contact_form.phoneno.errors %}                 
                      {% for error in contact_form.phoneno.errors %}
                      <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                      {% endfor %}                
              {% endif%}
            </div>
            
            <div class="form-group my-2">
                 {{ contact_form.text(class="form-control w-100", placeholder='Type your message here...') }}                
              {% if contact_form.text.errors %}                 
                      {% for error in contact_form.text.errors %}
                      <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                      {% endfor %}                
              {% endif%}
            </div>
            <button type="submit" class="btn btn-black w-100 draw meet">Submit</button>
          </form>
        </div>
    </div>
    <!-- End Contact form -->
<!-- Contacts -->
 

<!-- End Contacts -->

  </div>


{% endblock %}