{% extends "template.html" %}
{% block content %}

<div id="login" class="container-fluid w-100 align-self-center h-100">

    <div class="row login-div h-100 text-center pb-5">
  
      <div class="col-12 align-self-center" style='padding:0!important'>
       
  
              <div class="row py-5 px-md-2 d-flex justify-content-center align-middle" style='padding:0!important'>
                
                  <div class="col-12 col-sm-8 col-lg-6 col-xl-4 px-md-2 mx-md-1 align-middle" style='padding:0!important'>
                      <form class='border border-dark' enctype="multipart/form-data" method="POST">
                      {{ form.hidden_tag() }}

                          <div class="form-group " id='contact-us-title'>
                              <h3>Add a new admin</h3>
                          </div>
                          <div class="form-group my-3">
                                    
                                    {{ form.firstname(class="form-input-email w-100", placeholder='First name') }}
                                    
                                    {% if form.firstname.errors %}
                                        

                                            {% for error in form.firstname.errors %}
                                            <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                                            {% endfor %}

                                        
                                    {% endif%}

                                   
                          </div>
                        <div class="form-group my-3">
                             {{ form.lastname(class="form-input-email w-100", placeholder='Last name') }}
                                    
                                    {% if form.lastname.errors %}
                                        

                                            {% for error in form.lastname.errors %}
                                            <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                                            {% endfor %}

                                        
                                    {% endif%}     
                          </div>

                            <div class="form-group my-3">
                                {{ form.email(class="form-input-email w-100", placeholder='Email') }}
                                    
                                    {% if form.email.errors %}
                                        

                                            {% for error in form.email.errors %}
                                            <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                                            {% endfor %}

                                        
                                    {% endif%}     
                          </div>
                          <div class="form-group my-3">
                                 {{ form.password(class="form-input-email w-100", placeholder='Password') }}
                                    
                                    {% if form.password.errors %}
                                        

                                            {% for error in form.password.errors %}
                                            <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                                            {% endfor %}

                                        
                                    {% endif%} 
                            </div>
                          <div class="form-group my-3">
                              {{ form.confirm_password(class="form-input-email w-100", placeholder='Confirm password') }}
                                    
                                    {% if form.confirm_password.errors %}
                                        

                                            {% for error in form.confirm_password.errors %}
                                            <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                                            {% endfor %}

                                        
                                    {% endif%} 
                            </div>
                          <div class="form-group my-3">
                          <div class="custom-file">
                             
                              {{ form.picture.label(class="custom-file-label", placeholder='File') }}
                              {{ form.picture(class="custom-file-input", placeholder='File') }}
                                    {% if form.picture.errors %}
                                        

                                            {% for error in form.picture.errors %}
                                            <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
                                            {% endfor %}

                                        
                                    {% endif%}     
                            </div>
                          </div>
                          <button type="submit" class="btn btn-black w-100" >Add!</button>
                      </form>
                  </div>
              </div>

  
      </div>
     
    </div>
  </div>
  

{% endblock %}