<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{ flask_util_js.js }}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <script src="https://kit.fontawesome.com/fc90696665.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@600&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Parisienne&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>

  <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/style.css') }}">
  <title>SMotion Phography - Warszawa Fotograf</title>
</head>
{% if url_for(request.endpoint) == '/gallery/'  %}
<body style='background-color: white;'>
{% else %}
<body class='d-flex flex-column min-vh-100'>
  {% endif %}

<div id="background">
  
</div>
  <header>
  <div class="position-fixed w-100" id='container-nav'>
    {% if url_for(request.endpoint) == '/gallery/'  %}
    <nav class="navbar navbar-expand-lg navbar-dark w-100 px-md-5 px-md-5 px-3  bg-dark" id='navbar-home'>

    {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark w-100 px-md-5 px-md-5 px-3  " id='navbar-home'>

      {% endif %}
      {% if url_for(request.endpoint) == '/home/' or url_for(request.endpoint) == '' %}
      <!-- <a class="navbar-brand text-light" id='company-name' href="#home">Smotion Phography</a> -->
      <a class="navbar-brand px-1 px-md-5" href="#home">
        <img src="{{url_for('static',filename='images/logo_nav.png')}}" width="120"  alt="">
      </a>

      {% else %}
      <!-- <a class="navbar-brand text-light" id='company-name' href="{{url_for('home')}}">Smotion Phography</a> -->

      <a class="navbar-brand px-1 px-md-5" href="{{url_for('home')}}">
        <img src="{{url_for('static',filename='images/logo_nav.png')}}" width="120"  alt="">
      </a>
      {% endif %}
      <button id = 'nav-toggle-button' class="navbar-toggler navbar-inverse border border-light" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon navbar-inverse"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ml-auto ">
          {% if url_for(request.endpoint) == '/home/' or url_for(request.endpoint) == '' %}
          <li class="nav-item px-3 py-2 text-right">
            <a class="nav-link text-light" href="#home">Home<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown px-3 py-2 text-right">
            <a class="nav-link text-light dropdown-toggle text-right" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Gallery
            </a>
            <div class="dropdown-menu text-right" aria-labelledby="navbarDropdownMenuLink" id='dropdown-menu'>
              <a class="dropdown-item text-light text-right" href="{{url_for('gallery')}}">All</a>
              {% for  cat in categories %}

              <a class="dropdown-item text-light text-right" href="#{{cat.title}}">{{cat.title}}</a>
              {% endfor %}

            </div>
          </li>
          <li class="nav-item px-3 py-2 text-right">
            <a class="nav-link text-light " href="#contact">Contact</a>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item px-3 py-2  text-right">
            <a class="nav-link text-light" href="{{ url_for('pictures')}}">Photos</a>
          </li>
           <li class="nav-item px-3 py-2  text-right">
            <a class="nav-link text-light" href="{{ url_for('add_category')}}">Add category</a>
          </li>

          <li class="nav-item px-3 py-2  text-right">
            <a class="nav-link text-light" href="{{ url_for('users')}}">Users</a>
          </li>
          <li class="nav-item px-3 py-2  text-right">
            <a class="nav-link text-light" href="{{ url_for('logout')}}">Logout</a>
          </li>
          {% endif %}
          {% else %}
          <li class="nav-item px-3 py-2  text-right">
            <a class="nav-link text-light" href="{{url_for('home')}}">Home<span class="sr-only">(current)</span></a>
          </li>

          {% if current_user.is_authenticated %}
          <li class="nav-item px-3 py-2  text-right">
            <a class="nav-link text-light" href="{{ url_for('pictures')}}">Photos</a>
          </li>
          <li class="nav-item px-3 py-2  text-right">
            <a class="nav-link text-light" href="{{ url_for('users')}}">Users</a>
          </li>
          <li class="nav-item px-3 py-2  text-right">
            <a class="nav-link text-light" href="{{ url_for('logout')}}">Logout</a>
          </li>
          {% endif %}
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>

</header>





<content>


  <!-- MESSAGES FROM ROUTES -->
  {% with messages = get_flashed_messages(category_filter=["success"]) %}
  {% if messages %}
  {% for msg in  messages %}
  <div class="alert alert-success mb-3 w-100 " id="flashMsg" style="text-align: center;z-index:20">{{msg}}</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  {% with messages = get_flashed_messages(category_filter=["error"]) %}
  {% if messages %}
  {% for msg in  messages %}
  <div class="alert alert-danger mb-3 w-100" style="text-align: center;z-index:20">{{msg}}</div>
  {% endfor %}
  {% endif %}
  {% endwith %}



    <!-- End Background image -->
  {% block content %}
  {% endblock %}
  <!-- Optional JavaScript -->
</content>


  <footer class='mt-auto'>

   <div class="row d-flex justify-content-center px-2 mx-1 border-top border-black pt-2 position-relative" style='background-color: rgba(255, 255, 255, .9);'>
    
    <div class="col-12 col-sm-8 col-lg-6 col-xl-6  text-dark ">
      <div class="row py-1">

        <div class="col-6 py-3">
          <p>Smotion Phography <br> Warszawa, Zawiszy 12 01-167 <br> Smotion.photography@smotion.pl</p>
        </div>
        <div class="col-6">
          <div class="row d-flex justify-content-between">
            <span style='font-size: 3.8rem;' class='px-2'>
              <a href="" id='facebook'><i class="fab fa-facebook"></i></a>
            </span>
            <span style='font-size: 4rem;' class='px-2'>
              <a href=""><i id='insta' class="fab fa-instagram"></i></a>
            </span>
            <span style='font-size: 3.75rem;' class='px-2'>
              <a href=""><i class="fas fa-phone" style="color:#343a40!important"></i></a>
            </span>
            <span style='font-size: 4rem;' class='px-2'>
              <a href=""><i class="fas fa-envelope" style="color:#343a40!important"></i></a>
            </span>
          </div>
        </div>


       
      </div>


      
      <div class="text-center py-0">
        <small>
          Developed by @Alessio Giovannini
        </small>
        
      </div>
    </div>
  </div>

  </footer>
  <script src="{{ url_for('static', filename='/JS/script.js') }}"></script>
</body>
</html>