{% extends "template.html" %}
{% block content %}

<div class="row py-5 d-flex justify-content-center" id='user-table'>

    <div class="col-12 col-sm-8 col-md-8 col-lg-8" style='padding:0!important'>
        <a href="{{url_for('home')}}" class="btn btn-outline-dark btn-lg bg-white btn-block my-2" role="button" aria-disabled="true">Home</a>
      
        <a href="{{url_for('register')}}" class="btn btn-outline-dark btn-lg bg-white btn-block my-2" role="button" aria-disabled="true">New user</a>
                      
                   
        <div class="row  px-md-2 ">
            {% for user in User %}
            <div class="col-12  my-2 py-3 bg-white d-flex border border-dark">
                <div class="row w-100">
                    <div class="col-4 px-1">
                        <img style='max-width:100%!important;max-height:10rem!important'src="{{ url_for('static',filename='images/'+ user.picture)}}" alt="" class="">
                    </div>
                    <div class="col-8">
                        <h6>{{ user.firstname }}</h6>
                        <h6>{{ user.lastname }}</h6>
                        <h6>{{ user.email }}</h6>

                        <a href="{{url_for('edit_user',id=user.id)}}" style='font-size: 2rem;'><i class="fas fa-edit"></i></a>
                    </div>

                </div>
                
              
            </div>

            {% endfor %}
        </div>

    </div>
</div>
  

{% endblock %}